<html>
    <head>
        <title>Login</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='form.css')}}">
    </head>
    <body>
        {% include "header.html" %}
        {% with msg_data = get_flashed_messages() %}
          {% if msg_data %}
          <center><h4><span style="color: red;">{{msg_data[0]}}</span></h4></center>
          {% endif %}
        {% endwith %}
        <form action="{{ url_for('check_login') }}" method="POST">

            <div class="login_container">
              <label for="uname"><b>Username / Account No.</b></label>
              <input type="text" placeholder="Enter Username / Account No." name="uname" required>
          
              <label for="psw"><b>Password</b></label>
              <input type="password" placeholder="Enter Password" name="psw" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" 
              title="Must contain at least one number and one uppercase and lowercase letter, 
              and at least 8 or more characters" required>
          
              <button type="submit">Login</button>
              <label>
                <input type="checkbox" checked="checked" name="remember"> Remember me
              </label>

                <div class="clearfix">
                <!-- <button type="button" class="cancelbtn">Cancel</button> -->
                <span class="psw">Forgot <a href="#">password?</a></span>
                </div>
            </div>
          </form>
        {% include "footer.html" %}
    </body>
</html>